@font-face{
    font-family: "fajala";
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none
}

.clearfix{
    clear: both;
    float: none;
}

body {
    background: url(../img/cubes.png) #F4F4F4;
}

header {
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 540px;
    height: 140px;
}

.logo a {
    font-family: 'fajala', Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color: #2979CD;
    text-shadow: 0 0 0 black, 1px 1px 0 black, 2px 2px 0 black;
    transition: all 500ms;
}

.logo a:hover {
    cursor: pointer;
    text-shadow: 0 0 0 black, -1px -1px 0 black, -2px -2px 0 black;
}
